@import "_normalize"; //reset
@import "_variable"; //variable
@import "_login"; //login

body {
  color: $textColor;
  background: #f0f0f1;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
.btn {
  border: 0;
  border-radius: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  position: relative;
  span {
    position: relative;
    color: #fff;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    inset: 0 0 0 -50px;
    display: block;
    background: rgb(159, 245, 255);
    background: linear-gradient(
      37deg,
      rgba(159, 245, 255, 1) 20%,
      rgba(143, 19, 222, 1) 70%
    );
    transition: 0.5s all;
  }
  &:hover,
  &:focus {
    &:before {
      inset: 0px;
    }
  }
}
select {
  font-size: 1.25rem;
  line-height: 62px;
  height: 62px;
  padding: 0 58px 0 20px;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  appearance: none;
  background: #fff url(../images/icon_arrowDown.png) right 20px center no-repeat;
}
.container {
  width: 100%;
  max-width: 1640px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  @media (max-width: 1700px) {
    padding: 0 60px;
  }
  @media (max-width: 930px) {
    padding: 0 30px;
  }
}
.wrap {
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  background: url(../images/login_bg5.png) center top -430px no-repeat,
    url(../images/login_bg7.png) 80px 74% no-repeat,
    url(../images/login_bg6.png) right -400px bottom -400px no-repeat;
  .header {
    padding: 60px 0 40px 0;
    background: url(../images/inner_bg3.png) 43% 140px no-repeat;
    @media (max-width: 1550px) {
      background: url(../images/inner_bg3.png) 50% 140px no-repeat;
    }
    @media (max-width: 1300px) {
      background: none;
    }
    @media (max-width: 630px) {
      padding: 30px 0;
    }
    @media (max-width: 690px) {
      padding: 10px 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 157px;
        display: block;
        background: url(../images/inner_bg1.png) 0 0 no-repeat;
        top: -125px;
        left: 98%;
        z-index: -1;
        @media (max-width: 1700px) {
          left: 95%;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 125px;
        height: 105px;
        display: block;
        background: url(../images/inner_bg2.png) 0 0 no-repeat;
        top: 30px;
        left: -150px;
        z-index: -1;
        @media (max-width: 1700px) {
          left: -90px;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
      .logo {
        a {
          text-decoration: none;
        }
        img {
          width: 188px;
          height: 48px;
          @media (max-width: 690px) {
            width: 150px;
            height: auto;
          }
        }
        .title {
          margin: -8px 0 0 0;
          display: flex;
          align-items: center;
          @media (max-width: 1240px) {
            margin: 0;
          }
          @media (max-width: 690px) {
            flex-direction: column;
            align-items: flex-start;
          }
          span {
            font-size: 2.8125rem;
            color: #134098;
            font-weight: bold;
            margin-left: 14px;
            @media (max-width: 1240px) {
              font-size: 2rem;
            }
            @media (max-width: 1200px) {
              font-size: 1.8rem;
            }
            @media (max-width: 690px) {
              margin-left: 0;
            }
            em {
              font-style: normal;
              color: #2fb5a9;
              margin-right: 4px;
            }
          }
        }
        .enTitle {
          font-size: 1.875rem;
          color: $textColor;
          margin-bottom: 0.5rem;
          text-decoration: none;
          @media (max-width: 690px) {
            display: none;
          }
        }
      }
      .nav {
        font-size: 1.125rem;
        color: $textColor;
        display: flex;
        align-items: center;
        gap: 24px;
        font-weight: bold;
        a {
          color: $textColor;
          text-decoration: none;
          margin-right: 18px;
          transition: all 0.5s;
          &:hover,
          &:focus {
            color: #7e13de;
            text-decoration: underline;
          }
          @media (max-width: 793px) {
            margin-right: 0;
          }
          @media (max-width: 630px) {
            display: none;
          }
        }
        .welcome {
          padding: 19px 40px;
          backdrop-filter: blur(20px);
          background: rgba(255, 255, 255, 0.4);
          border-radius: 40px;
          box-shadow: 0 0 20px rgba(255, 255, 255, 1) inset;
          @media (max-width: 1200px) {
            padding: 19px 20px;
          }
          @media (max-width: 992px) {
            display: none;
          }
          &:after {
            content: "";
            position: absolute;
            inset: -8px;
            border-radius: 40px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
            background: transparent;
            display: block;
            z-index: -1;
          }
        }
        .btn {
          height: 74px;
          line-height: 74px;
          width: 150px;
          @media (max-width: 1200px) {
            width: 100px;
          }
        }
      }
    }
  }
}
.scorePage {
  .scoreSelect {
    padding: 54px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #464646;
    label {
      font-size: 1.5rem;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
  .scoreInfo {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 46px;
    .infoTitle {
      margin: 0 0 36px 0;
      font-size: 2.25rem;
      font-weight: bold;
      text-align: center;
    }
    .infoText {
      background: rgba(255, 255, 255, 0.32);
      box-shadow: 0 9px 54px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      font-size: 1.125rem;
      padding: 30px 120px;
      box-sizing: border-box;
      margin-bottom: 50px;
      p {
        margin-top: 0;
      }
      ol,
      ul {
        li {
          margin-bottom: 0.5rem;
        }
      }
    }
    .infoSearch {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 44px;
      label {
        font-size: 1.5rem;
        margin-right: 1rem;
        font-weight: bold;
      }
      .search {
        position: relative;
        input[type="text"] {
          font-size: 1.25rem;
          line-height: 60px;
          height: 60px;
          padding: 0 60px 0 20px;
          border-radius: 6px;
          border: 1px solid #bfbfbf;
          width: 388px;
          box-sizing: border-box;
        }
        button {
          width: 60px;
          height: 60px;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          color: transparent;
          background: url(../images/icon_search.png) center no-repeat;
          border: none;
          font-size: 0;
          z-index: 1;
          &:active {
            opacity: 0.6;
          }
        }
      }
    }
    .infoSearchResult {
      .function {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 1.125rem;
        .filter {
          display: flex;
          align-items: center;
          column-gap: 18px;
          font-weight: bold;
          a {
            padding: 0 40px;
            height: 76px;
            line-height: 76px;
            border: 8px solid #f0f0f1;
            text-decoration: none;
            background: #fff;
            border-radius: 70px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
            color: $textColor;
            &.active {
              border: 8px solid #fff;
              background: rgb(176, 201, 248);
              background: linear-gradient(
                0deg,
                rgba(176, 201, 248, 1) 0%,
                rgba(143, 19, 222, 1) 55%
              );
              color: #fff;
            }
          }
        }
        .total {
          .number {
          }
        }
        .sort {
          display: flex;
          align-items: center;
          label {
          }
        }
      }
    }
  }
}
