@import "_normalize"; //reset
@import "_variable"; //variable
@import "_login"; //login
@import "_score"; //score
@import "_tableWrapper"; //tableWrapper

body {
  color: $textColor;
  background: #f0f0f1;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100%;
}
.btn {
  border: 0;
  border-radius: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  position: relative;
  height: 74px;
  line-height: 74px;
  padding: 0 20px;
  span {
    position: relative;
    color: #fff;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    inset: 0 0 0 -50px;
    display: block;
    background: rgb(159, 245, 255);
    background: linear-gradient(
      37deg,
      rgba(159, 245, 255, 1) 20%,
      rgba(143, 19, 222, 1) 70%
    );
    transition: 0.5s all;
  }
  &:hover,
  &:focus {
    &:before {
      inset: 0px;
    }
  }
}
select {
  font-size: 1.25rem;
  line-height: 62px;
  height: 62px;
  padding: 0 58px 0 20px;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  appearance: none;
  background: #fff url(../images/icon_arrowDown.png) right 20px center no-repeat;
  @media (max-width: 1024px) {
    font-size: 1.125rem;
  }
  @media (max-width: 768px) {
    width: 100%;
    font-size: 1rem;
  }
}
h2.title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 30px 0;
}
.container {
  width: 100%;
  max-width: 1640px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  @media (max-width: 1700px) {
    padding: 0 60px;
  }
  @media (max-width: 930px) {
    padding: 0 30px;
  }
}
.wrap {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  position: relative;
  background: url(../images/login_bg5.png) center top -430px no-repeat,
    url(../images/login_bg7.png) 80px 74% no-repeat;
  .header {
    padding: 60px 0 40px 0;
    background: url(../images/inner_bg3.png) 43% 140px no-repeat;
    @media (max-width: 1550px) {
      background: url(../images/inner_bg3.png) 50% 140px no-repeat;
    }
    @media (max-width: 1300px) {
      background: none;
    }
    @media (max-width: 630px) {
      padding: 30px 0;
    }
    @media (max-width: 690px) {
      padding: 10px 0;
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 157px;
        display: block;
        background: url(../images/inner_bg1.png) 0 0 no-repeat;
        top: -125px;
        left: 98%;
        z-index: -1;
        @media (max-width: 1700px) {
          left: 95%;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 125px;
        height: 105px;
        display: block;
        background: url(../images/inner_bg2.png) 0 0 no-repeat;
        top: 30px;
        left: -150px;
        z-index: -1;
        @media (max-width: 1700px) {
          left: -90px;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
      .logo {
        a {
          text-decoration: none;
        }
        img {
          width: 188px;
          height: 48px;
          @media (max-width: 690px) {
            width: 150px;
            height: auto;
          }
        }
        .title {
          margin: -8px 0 0 0;
          display: flex;
          align-items: center;
          @media (max-width: 1240px) {
            margin: 0;
          }
          @media (max-width: 690px) {
            flex-direction: column;
            align-items: flex-start;
          }
          span {
            font-size: 2.8125rem;
            color: #134098;
            font-weight: bold;
            margin-left: 14px;
            @media (max-width: 1240px) {
              font-size: 2rem;
            }
            @media (max-width: 1200px) {
              font-size: 1.8rem;
            }
            @media (max-width: 690px) {
              margin-left: 0;
              font-size: 1.5rem;
            }
            em {
              font-style: normal;
              color: #2fb5a9;
              margin-right: 4px;
            }
          }
        }
        .enTitle {
          font-size: 1.875rem;
          color: $textColor;
          margin-bottom: 0.5rem;
          text-decoration: none;
          @media (max-width: 690px) {
            display: none;
          }
        }
      }
      .nav {
        font-size: 1.125rem;
        color: $textColor;
        display: flex;
        align-items: center;
        gap: 24px;
        font-weight: bold;
        a {
          color: $textColor;
          text-decoration: none;
          margin-right: 18px;
          transition: all 0.5s;
          &:hover,
          &:focus {
            color: #7e13de;
            text-decoration: underline;
          }
          @media (max-width: 793px) {
            margin-right: 0;
          }
          @media (max-width: 630px) {
            display: none;
          }
        }
        .welcome {
          padding: 19px 40px;
          backdrop-filter: blur(20px);
          background: rgba(255, 255, 255, 0.4);
          border-radius: 40px;
          box-shadow: 0 0 20px rgba(255, 255, 255, 1) inset;
          @media (max-width: 1200px) {
            padding: 19px 20px;
          }
          @media (max-width: 992px) {
            display: none;
          }
          &:after {
            content: "";
            position: absolute;
            inset: -8px;
            border-radius: 40px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
            background: transparent;
            display: block;
            z-index: -1;
          }
        }
        .btn {
          height: 74px;
          line-height: 74px;
          width: 150px;
          @media (max-width: 1200px) {
            width: 100px;
          }
          @media (max-width: 480px) {
            width: 80px;
            height: 60px;
            line-height: 60px;
          }
        }
      }
    }
  }
  .main {
    .container {
    }
  }
  .footer {
    margin-top: 90px;
    @media (max-width: 480px) {
      margin-top: 30px;
    }
    .copyright {
      text-align: center;
      color: $textColor;
      font-weight: bold;
    }
  }
}
.pagination {
  text-align: center;
  margin-top: 50px;
  .total {
    font-size: 1.25rem;
    margin-bottom: 16px;
    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
    @media (max-width: 480px) {
      font-size: 1rem;
    }
    select {
      height: 46px;
      line-height: 46px;
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }
  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8;
    font-size: 1.25rem;
    li {
      a {
        text-decoration: none;
        color: $textColor;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: block;
        border-radius: 50%;
        &:hover,
        &:focus {
          color: #7e13de;
        }
      }
      &.prev,
      &.next {
        a {
          font-size: 0;
          &:hover,
          &:focus {
            opacity: 0.6;
          }
        }
      }
      &.prev {
        a {
          background: url(../images/icon_arrowLeft.png) center center no-repeat;
        }
      }
      &.next {
        a {
          background: url(../images/icon_arrowRight.png) center center no-repeat;
        }
      }
      &.active {
        a {
          color: #fcfcfc;
          background: $textColor;
          &:hover,
          &:focus {
            background: #7e13de;
          }
        }
      }
    }
  }
}
.scrollToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/icon_top.svg) no-repeat center top
    rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.3s ease-out;
  display: none;
  z-index: 99999999;
  text-indent: -999999px;
}
.listPage {
  .listTable {
    width: 100%;
    padding: 30px 60px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    color: $textColor;
    margin-bottom: 30px;
    position: relative;
    font-size: 1.125rem;
    @media (max-width: 768px) {
      padding: 30px;
    }
    &:after {
      content: "";
      position: absolute;
      inset: -8px;
      border-radius: 12px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      background: transparent;
      display: block;
      z-index: -1;
    }
    .tableWrapper {
      width: 100%;
    }
    table {
      width: 100%;
      th,
      td {
        padding: 10px;
      }
      th {
        border-bottom: 4px solid $textColor;
        font-size: 1.25rem;
      }
      td {
        border-bottom: 1px solid #4c4c4c;
        button {
          white-space: nowrap;
          padding: 0 30px;
        }
      }
      tr:last-child td {
        border-bottom: 0;
      }
      .center {
        text-align: center;
      }
    }
  }
}
.nodePage {
  .nodeList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 40px;
    @media (max-width: 640px) {
      row-gap: 16px;
    }
    a {
      text-decoration: none;
      color: $textColor;
      flex: 0 1 30%;
      padding: 20px;
      box-sizing: border-box;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.4);
      border-radius: 80px;
      font-size: 1.25rem;
      font-weight: bold;
      border: 8px solid #f0f0f1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 112px;
      @media (max-width: 930px) {
        flex: 0 1 45%;
      }
      @media (max-width: 640px) {
        flex: 0 1 100%;
      }
      &:hover {
        background: linear-gradient(
          0deg,
          rgb(176, 201, 248) 0%,
          rgb(143, 19, 222) 55%
        );
        color: #fff;
      }
    }
  }
}
